/*
	version: 1.0
	author:  Raul Garcia Fonseca
	date:	 20150518
*/

/* RESET 
	Resetear todos los estilos para cualquier navegador */
@import url("reset.css");

/* ETIQUETAS 
	Dar un estilo o una base general a toda la WEB */
body {
	background-image: url("../img/back.jpg");
}

h1 {
	text-align: center;
	font-size: 40px;
	min-height: 30px;
}

p {
	font-family: arial;
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
}

strong {
	font-weight: bold;
	color: black;
}

a {
	text-decoration: none;
}

a:hover {
	color: orange;
}

/* Recomendable para diseño de impresión */
/*a:hover:after { content: " (" attr(href) ") "; }*/

/* ol, ul { */
/* 	list-style-type: disc; */
/* } */

/* li{  */
/* 	margin-bottom:8px; */
/* } */

/* ol h3, ul h3 { */
/* 	font-weight:bold; */
/* 	margin-bottom:15px; */
/* } */

/* ol ol, ul ul{ */
/* 	margin-left:20px; */
/* 	list-style-type: circle; */
/* } */
.field_datpers {
	border: 1px solid grey;
	padding: 20px 30px;
	margin-bottom: 20px;
}

legend {
	font-weight: bold;
}


article {
	border: 1px solid #013720;
	padding: 20px;
	margin-bottom: 25px;
}

article h1 {
	background-color: green;
	color: red;
	font-size: 25px;
	padding: 5px 0;
	margin-bottom: 5px;
}

/* validaciones con formularios*/
form input[type="text"]:required:valid {
	border-color: #1C7766;
}

form input[type="text"]:focus:required:invalid {
	border-color: red;
}

#home {
	min-height: 400px;
	padding-top: 13%;
}

figure img {
	height: 100px;
	width: 100px;
}

/* Regla con selector por ID */
#ficha {
	float: left;
	width: 620px;
	min-height: 328px;
	margin-bottom: 20px;
}

#ficha p {
	font-size: 20px;
	line-height: 45px;
}

#ficha .destacado {
	color: green;
	font-weight: bold;
}

#sinopsis {
	float: left;
	height: 150px;
	overflow: scroll;
}

#container {
	width: 900px;
	border-right: 1px solid grey;
	border-left: 1px solid grey;
	margin: 0 auto;
	padding: 0px 20px 5px 20px;
	min-height: 620px;
	background-color: white;
}

#fondo {
	background-color: white;
	border: 1px solid black;
}

/* CLASES
	Regla con selector por clases para usar en todas las paginas */
table.tabla_azul, .tabla_azul tr, .tabla_azul td {
	border: 1px solid grey;
	text-align: center;
	font-family: arial;
	font-size: 35px;
	color: #0099FF;
}

.tabla_azul th, .tabla_azul td {
	padding: 10px;
	height: 40px;
}

.tabla_azul th {
	color: #0099FF;
}

.tabla_azul {
	margin-top: 5%;
	margin-bottom: 3%;
}

.blanco {
	background-color: white;
	width: 200px;
}

.numero {
	color: #00ffcc;
	font-family: arial;
	font-size: 50px;
	display: block;
	text-align: center;
}

.encabezado {
	border: 1px solid green;
	background-color: white;
}

.highlight {
	background-color: yellow;
}

.titulo {
	border: 1px solid black;
	text-align: center;
	font-size: 40px;
	margin-bottom: 20px;
}

.centrado {
	text-align: center;
}

.display_table {
	cellspacing: 0px;
	width: 100%;
}

.vid {
	width: 300px;
	height: 300px;
}

#circulo {
	width: 200px;
	height: 100px;
	border: 1px solid blue;
}

/* PAGINAS
	Tendremos una seccion por cada pagina */

/* INDEX */
#btn_ganador {
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #7cafcf);
	background-image: -moz-linear-gradient(top, #3498db, #7cafcf);
	background-image: -ms-linear-gradient(top, #3498db, #7cafcf);
	background-image: -o-linear-gradient(top, #3498db, #7cafcf);
	background-image: linear-gradient(to bottom, #3498db, #7cafcf);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	text-shadow: 4px 4px 0px #666666;
	font-family: Arial;
	color: #ffffff;
	font-size: 35px;
	padding: 10px 20px 10px 20px;
	border: solid #8db8d6 2px;
	text-decoration: none;
}

#btn_ganador:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #000000);
	background-image: -moz-linear-gradient(top, #3cb0fd, #000000);
	background-image: -ms-linear-gradient(top, #3cb0fd, #000000);
	background-image: -o-linear-gradient(top, #3cb0fd, #000000);
	background-image: linear-gradient(to bottom, #3cb0fd, #000000);
	text-decoration: none;
}

/* FOOTER */
#list_rrss .peq {
	width: 20px;
	height: 20px;
}

/* PARRAFOS */
#parrafo .parrafos {
	overflow: scroll;
	height: 450px;
	margin-top: 10px;
}

#parrafo .encabezado h1 {
	text-align: left;
	font-size: 30px;
}

/* TABLAS */
#tabla td:hover {
	background-color: red;
}

/* CARTELERA */
#cartelera li:nth-child(3n+0) {
	margin-right: 0;
}

#cartelera ul {
	list-style-type: none;
}

#cartelera li {
	background-color: white;
	min-height: 120px;
	margin-bottom: 10px;
	margin-right: 30px;
	float: left;
	position: relative;
}

#cartelera li .dch {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	padding-left: 2px;
	margin-top: -125px;
	min-height: 80px;
	width: 265px;
	color: white;
}

#cartelera li:hover .dch {
	display: block;
}

#cartelera li:hover p, #cartelera li:hover strong {
	display: block;
}

#cartelera h1 {
	margin-bottom: 10px;
}

#cartelera img {
	height: 383px;
}

#cartelera div h2 {
	text-align: center;
	font-size: 30px;
	background-color: grey;
	margin-right: 40px;
	margin-bottom: 10px;
}

#cartelera li p {
	text-align: center;
	color: white;
	display: none;
	color: white;
}

#cartelera li p strong {
	color: white;
	display: none;
}

/* CARTELERA_DETALLE */
#cartelera_detalle h1 {
	color: blue;
	text-align: left;
}

#cartelera_detalle img {
	float: left;
	margin-right: 30px;
	width: 250px;
	height: auto;
}

#cartelera_detalle {
	height: 568px;
}

/* NAV */
#logo img {
	width: 35px;
	height: 35px;
	float: left;
}

#logo h1 {
	width: 92%;
}
/* DATOS_PERSONALES */
.btn_cent{
	float: left;
	margin-left: 23%;
	margin-bottom: 2%;
	margin-top: 5%;
}

form .der {
	margin-left: 15px;
	margin-top: 3px;
}

#logo {
	position: fixed;
	width: 79%;
	z-index: 2;
	background-color: white;
	padding-bottom: 17px;
	padding-top: 5px;
}

.abajo_menu {
	padding-top: 13%;
}

#tabla {
	padding-top: 13%;
}

.cabecera_menu {
	padding-top: 5px;
}

.cent {
	float: right;
	width: 37%;
	padding-bottom: 40%;
	padding-top: 3%; 
}

.cent h2 {
	text-align: center;
	font-size: 20px;
	margin-bottom: 2%;
}

.cent ol, ul {
	text-align: center;
}

#list_rrss {
	text-align: left;
}

.blanco {
	background-color: white;
}

#dados {
	float: left;
	padding: 3%;
}

#dados h2 {
	font-family: arial;
	font-size: 15px;
	text-align: center;
}

#head {
	position: fixed;
	background-color: white;
	z-index: 2;
}

#head #logo, #head h1 {
	float: left;
}

.espacio {
	margin-top: 5px;
}

/*NAVEGADOR*/
.nave h3, .nave h4, .nave li a {
	background-color: #000;
	color: #FFF;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.nave li a {
	background-color: #560066;
}

.nave h4:hover, .nave h3:hover {
	background-color: #434343;
}

.nave li a:hover {
	background-color: orange;
	color: black;
}

.nave>li {
	float: left;
}

.nave ul, .nave ol, .nave {
	list-style: none;
}

.nave li ul {
	display: none;
	position: absolute;
	min-width: 160px;
}

.nave li:hover>ul {
	display: block;
}

.nave li ul li {
	position: relative;
}

.nave li ul li ul {
	right: -160px;
	top: 0px;
}

nav {
	position: fixed;
	margin-top: 5%;
	background-color: white;
	z-index: 2;
	padding-right: 10%;
	padding-left: 13%;
}

/*CLEARFIX*/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}



/*
	OBJETOS BASICOS DE JAVASCRIPT
*/

#obj h2 {
	font-size: 30px;
	text-decoration: underline;
	color: red;
}
#obj ul {
	text-align: left;
	margin-top:2%;
	margin-left: 3%;
}

#obj ul li {
	margin-bottom: 1%;
}




